body {
    text-align: center;
    background-image:url(images/photo-1531436107035-40b2e85b7a1b.jpg);
    background-size: cover;
    color: white;
    overflow-y: hidden;
}
#heure {
    font-size: 8rem;
    font-weight: bold;
}
h1 {
}
#texte {
    font-size: 16px;
    text-align: center;
    text-transform : uppercase;
    font-weight: 600;
    color: white;
}
#bloc {
    padding: 16px;
    margin : auto;
    background: rgba(0,0, 0, 0.5);
    border-radius: 15px;
}
p {
    font-size: 1.2rem;
}
blockquote {
    font-style: italic;
    font-size: x-large;
}
#cit p,#imageFond p, .weather, .objectif{
    font-size: 32px;
    font-weight:700;
    vertical-align: center;

}

#global {
    display: block;

}
#content {
    max-width: 50%;
    margin: auto;
}
#memo {
    z-index: 2;
    float: left;
    width:230px;
    height:500px;
    background: rgba(128, 128, 128, 0.61);
    text-align: left;
}