body {
    text-align: center;
    background-image:url(images/photo-1531436107035-40b2e85b7a1b.jpg);
    color: white;
}
#heure {
    font-size: 8rem;
    font-weight: bold;
}
h1 {
}
#texte {
    font-size: 2rem;
}
#bloc {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    height:500px;
    background: rgba(128, 128, 128, 0.61);
    border-radius: 15px;
}
p {
    font-size: 1.2rem;
}
blockquote {
    font-style: italic;
    font-size: x-large;
}
#cit {
    width:230px;
    height:40px;
    border-radius: 35px;
    line-height: 40px;
    vertical-align: center;
    border-width:2px;
    border-style: solid;
    border-color: #3c4550;


}
#imageFond {
    width:230px;
    height:40px;
    border-radius: 35px;
    line-height: 40px;
    vertical-align: center;
    border-width:2px;
    border-style: solid;
    border-color: #3c4550;
}

#global {
    display: block;

}
#content {
    max-width: 50%;
    margin: auto;
}
#memo {
    z-index: 2;
    float: left;
    width:230px;
    height:500px;
    background: rgba(128, 128, 128, 0.61);
    text-align: left;
}